@page
@model dos_modulos.Pages.notas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notas[0].nombreEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas[0].notas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Notas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notas)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
